@import "./keyframes/fast";
@import "./mixins/fast";
@import "./palette/fast";
@import "./parameters/fast";

.invisible {
    opacity: 0;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    #left {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #FF4F00, #02BADC);
        @include animation-mixim(singleBlink,$moving-period,$delay-words/1.5,$option:infinite,$bezier:$faster-bezier)
    }

    #right {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(-90deg, #FF4F00, #02BADC);
        @include animation-mixim(singleBlink,$moving-period,$delay-words/1.5 + $moving-period/2,$option:infinite,$bezier:$faster-bezier)
    }

    #welcome {
        position: absolute;
        width:100%;
        top: 40%;
        text-align:center;
        @extend .color-secondary-2-0;
        font-family: Impact, Charcoal, sans-serif;
        span{
            display:inline-block;
        }
        #one {
            @include animation-mixim(makeVisibleThenJump,$time-word,$delay-word*1)
        }

        #two {
            @include animation-mixim(makeVisibleThenJump,$time-word,$delay-word*2)
        }

        #three {
            @include animation-mixim(makeVisibleThenJump,$time-word,$delay-word*3)
        }

        #four {
            @include animation-mixim(makeVisibleThenJump,$time-word,$delay-word*4)
        }

        #five {
            @include animation-mixim(makeVisibleThenJump,$time-word,$delay-word*5)
        }

        #six {
            @include animation-mixim(makeVisibleThenJump,$time-word,$delay-word*6)
        }
    }
}
