///Parameters
$moving-delay:1s; ///The time until we start all animations
$moving-period:1s;///The small delay between showing each word
$delay-word:0.5s; ///The number of words to display
$time-word:2s; ///Time for the word to be exposed
$number-words:6; ///The number of words to display
$faster-bezier:cubic-bezier(0.99,0.001,0.99,0.001); ///The fast bezier for background.


///Calculated
$delay-words:$delay-word*$number-words;
