@keyframes singleBlink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes makeVisible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes jumpNW {
    100%{
        transform:translate(-500px,-500px);
    }
}
@keyframes jumpNE {
    100%{
        transform:translate(500px,-500px);
    }
}
@keyframes jumpSW {
    100%{
        transform:translate(500px,-500px);
    }
}
@keyframes jumpSE {
    100%{
        transform:translate(500px,500px);
    }
}
