@mixin animation-mixim($name, $duration,$delay:0s,$ease: linear,$option: forwards$delay,$bezier:linear) {
    animation: $name $duration $ease $option;
    animation-timing-function:$bezier;
    animation-delay: $delay;
}
@mixin transition-mixim($time) {
    transition: all $time linear;
}
