doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet")
    script(src='assets/blackWhiteOne.js')
    script(src='assets/1.blackWhite-head.js')
  body#container
    div#left 
      div.white 
        span White
      div.black 
        span White
    div#right 
      div.white 
        span Black
      div.black 
        span Black


    script(src='assets/2.blackWhite-bodyBottom.js')
