doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src='/cloudsOne.js')
    script(src='/4.clouds-head.js')
  body
    img(id="sun" src="svg/sun.svg")
    div(id="name")
      img(id="expose1" src="png/cloud1.png")
      img(id="expose2" src="png/cloud1.png")
      canvas(id="canvas") 
    img(id="sky" src="svg/sky.svg")
    script(src='/5.clouds-bodyBottom.js')
    img(id="cloud3" src="png/cloud3.png")
    img(id="cloud4" src="png/cloud3.png")
    img(id="cloud5" src="png/cloud4.png")
    canvas(id="dot") 

