doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet")
    script(src='assets/dotsOne.js')
    script(src='assets/7.dots-head.js')
  body
    canvas(id="canvas") 
    script(src='assets/8.dots-bodyBottom.js')

//    img(id="" src="svg/phone.svg")
//    img(id="" src="svg/desktop.svg")
