doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    script(src='assets/fastOne.js')
    script(src='assets/1.head.js')
  body
    div.leave.container
      div#left
      div#right 
      h1#welcome
        div#one.wrapWord
          div.jumpNW
            div.jumpNE
              span.showMe  Welcome
        div.wrapSpan
          span.initWord#two  to 
        div.wrapSpan
          span.initWord#three  the 
        div.wrapSpan
          span.initWord#four  fast 
        div.wrapSpan
          span.initWord#five  design 
        div.wrapSpan
          span.initWord#six  concept
    script(src='assets/2.bodyBottom.js')
