doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    script(src='/fastOne.js')
    script(src='/1.head.js')
  body
    div#container
      div#left
      div#right 
      h1#welcome
        div#one.wrapWord
          div.jumpNW
            div.jumpNE
              span.showMe  Welcome
        div#two.wrapWord
          div.jumpNW
            div.jumpNE
              span.showMe  to
        div#three.wrapWord
          div.jumpNW
            div.jumpNE
              span.showMe  Fast

    script(src='/2.bodyBottom.js')
