doctype html
html
  head
    title= title
    script(src='/stylesheets/fastOne.js')
  body
    div#container 
      h1#welcome
        span#one Welcome
        span#two to 
        span#three the 
        span#four fast 
        span#five design 
        span#six concept
