doctype html
html
  head
    title= title
    script(src='/stylesheets/fastOne.js')
  body
    div.container
      div#left
      div#right 
      h1#welcome
        span.invisible#one Welcome
        span.invisible#two  to 
        span.invisible#three the 
        span.invisible#four fast 
        span.invisible#five design 
        span.invisible#six concept
