doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    script(src='assets/fastOne.js')
    script(src='assets/1.head.js')
  body
    div.leave.container
      div#left
      div#right 
      h1#welcome
        span.word.invisible#one  Welcome
        span.word.invisible#two  to 
        span.word.invisible#three  the 
        span.word.invisible#four  fast 
        span.word.invisible#five  design 
        span.word.invisible#six  concept
    script(src='assets/2.bodyBottom.js')
