doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet")
    script(src='assets/virusOne.js')
    script(src='assets/13.virus-head.js')
  body
    h1 Virus
    canvas(id="canvas") 
    script(src='assets/14.virus-bodyBottom.js')

//    img(id="" src="svg/phone.svg")
//    img(id="" src="svg/desktop.svg")
