//$fadeInOut:1s;
$background-period:2s;
$background-delay:3s;
$word-period:1s;
$word-delay:0.5s;
$word-factor:1; ///Add to delay as 1*word-delay to delay each word 
$time-jump:3s;
$faster-bezier:linear;

$background-delay:$word-delay + 6*$word-factor;

